@media screen and (max-width: 786px) {
    #left-container-contact,
    #left-header{
        width: 20%;
    }

    #left-header img{
        margin: 0 auto;
    }

    #right-header img{
        padding: 5px;
        margin: 0;
    }

    #right-container-chat,
    #right-header{
        width: 80%;
    }

    #contact{
        height: 72vh;
    }

    #status-online{
        font-size: 10px;
    }

    #icon-left-header,
    #notify,
    #search,
    #last-access,
    #username{
        display: none !important;
    }

    #card-img{
        margin: 0 auto;
    }
}
@media screen and (max-width: 468px) {
    #left-container-contact,
    #left-header{
        display: none;
    }
    #right-container-chat,
    #right-header{
        width: 100%;
    }
    
    #data-chat{
        width: 20%;
        right: 15%;
    }

    #list-right-header{
        gap: 10px;    
    }

}